/* 
Button color: #2ab1e5
Background color: #11242D
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #11242D;
    background: url("./images/nursery-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}



h1 {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-size: 5em;
    text-shadow: 5px 5px #000;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-size: 3em;
    text-shadow: 5px 5px #000;
    margin: 20px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

#start-page {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* 
==========
IMG - FACE
==========
*/

img.animoji {
    width: 300px;
    padding: 30px;
}

img#home-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FACE pulse animation */

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;

	visibility: visible !important;	
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 1;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 1;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.9;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.9;	
	}			
}

/* 
=======
BUTTONS
=======
*/

.buttons-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #2ab1e5;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

/* BUTTONS HOVER ANIMATION */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* 
=====
MODAL
=====
*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #11242D;
    background-color: #2ab1e5;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.25rem;
    color: #000;
    background-color: #fff;
}

.close-button:hover {
    color: #fff;
    background-color: #11242D;
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

/* 
=====================
$$$$  GAME PAGE  $$$$
=====================
*/

.icon {
    width: 40px;
}

#game-container {
    height: 500px;
}

#game-area {
    width: 450px;
    height: 450px;
    display: block;
    margin: 10px auto;
    border: 1px solid #000;
    background-color: #11242D;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    
    width: 250px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}